<p>congrates  <%= @user.email %> , your cancelation request is approved from spotmyarena!!!!!</p>
<h3>time: <%= @slot %></h3>
<h3>date: <%= @booking_date %></h3>
<h3>ground_name: <%= @ground %></h3>
<p>for more information contact to ground pleace</p>
