<p>Welcome <%= @user.email %>!</p>
<p>Thank you for booking slot on spotmyarena!!!!!</p>

<p>your paid successfully</p>


<p>your transication id is <h3><%= @transication_id %></h3> for amount <h3><%= @amount%></h3></p>