
<div class="main">
  <div class="container">
    <div class="main-cn about-page bg-white clearfix">
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">            
          <li>About us</li>
        </ul>
      </section>
      <!-- End Breakcrumb -->
      <!-- About -->
      <section class="about-cn clearfix">
        
        <div class="about-text">
          <h1>ABOUT US&nbsp;</h1>
          <div class="about-description">
            <p>
              SpotMyArena aims to provide free online booking service for sports arena.
            </p>
            <p>
              SpotMyArena is on a mission to take sports to the next level. It not only aims to provide hassle free booking solution but also wants to ensure superb customer satisfaction.
            </p>
            <p>
              Today party, clubs, malls etc have taken a priority in our lives. It’s time to give SPORTS a shot. Just book on Spot My Arena and enjoy the moment with friends, family and YOURSELF.
            </p>
          </div>
        </div>
      </section>
      <!-- End About -->
      <!-- Team -->
      <section class="team">
        <div class="team-head">
          <h2></h2>
          <p>
            
          </p>
        </div>
        <div class="team-group row">
          <!-- Team Item -->
          <div class="team-item col-xs-6 col-md-3">
            <figure>

              <%= image_tag("gi1.jpg") %>
            </figure>
            <h3></h3>
            <span></span>
          </div>
          <!-- End Team Item -->
          <!-- Team Item -->
          <div class="team-item col-xs-6 col-md-3">
            <figure>
              <!-- <img src="images/team/img-2.jpg" alt=""> -->
              <%= image_tag "gi2.jpg", class: "" %>
            </figure>
            <h3></h3>
            <span></span>
          </div>
          <!-- End Team Item -->
          <!-- Team Item -->
          <div class="team-item col-xs-6 col-md-3">
            <figure>
              <!-- <img src="images/team/img-3.jpg" alt=""> -->
              <%= image_tag "gi3.jpg", class: "" %>
            </figure>
            <h3></h3>
            <span></span>
          </div>
          <!-- End Team Item -->
          <!-- Team Item -->
          <div class="team-item col-xs-6 col-md-3">
            <figure>
              <!-- <img src="images/team/img-4.jpg" alt=""> -->
              <%= image_tag "gi5.JPG", class: "" %>
            </figure>
            <h3></h3>
            <span></span>
          </div>
          <!-- End Team Item -->
        </div>
      </section>
      <!-- End Team -->
      <!-- Twitter -->
      <!-- End Twitter -->


    </div>
  </div>
</div>
