<div class="main">
    <div class="container">
      <div class="main-cn about-page bg-white clearfix">
        <section class="breakcrumb-sc">
          <ul class="breadcrumb arrow">
            <li>FAQ</li>
          </ul>
        </section>
        <section class="about-cn clearfix"> 
          <div class="about-text">
            <h1>FAQ&nbsp;</h1>
            <div class="about-description">
            <ul>
              <hr>
              <li>
              <p>
               <h4><b> Why use SpotMyArena instead of calling up the clubs? </b></h4>
              </p>
              </li>
              <li>
              <p>
              <h4>
                Remember calling up clubs and arenas for finding available slots, rushing to the venue for ensuring you get the court, painstakingly specifying that you had called and booked the court. You have none of that with SpotMyArena. With SpotMyArena, you get to choose your arena, your date, your slot, and make the payment online. In short, we ensure that you get hassle free entertainment and spend your precious time in your favorite courts while we take care of your bookings.
              </h4>
              </p>
              </li>
              <br>
              <hr>
              <li>
              <p>
               <h4><b> What is the cancellation and refund policy of SpotMyArena ? </b></h4>
              </p>
              </li>
              <li>
              <p>
              <h4>
                Our Cancellation Fee is as follows ­                                              Upto 1 week before the booked slot ­ 10% Less  than 1 week and upto 3 days before the booked slot ­ 20% Less than 3 days and upto 24 hrs before the booked slot ­ 40% Less than 24 hours and upto 8 hrs before the booked slot ­ 60% Less than 8 hours before the booked slot ­  No  refund.

              </h4>
              </p>
              </li>
              <br>
              <hr>
              <li>
              <p>
               <h4><b> Do I need to pay amount at court ?</b></h4>
              </p>
              </li>
              <li>
              <p>
                <h4>
                  No, SpotMyArena gives you a cashless, hassle free sporting experience you can pay onlince once and then need not pay anything at the clubs.
                </h4>
              </p>
              </li>
              <br>
              <hr>
            </ul> 
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
        