
<div class="main">
  <div class="container">
    <div class="main-cn element-page bg-white clearfix">
      <!--Breakcrumb-->
      <section class="breakcrumb-sc">
        <ul class="breadcrumb arrow">
          <li>SERVICE</li>
        </ul>
      </section>
      <section class="about-cn clearfix">  
        <div class="about-text">
          <h1>SERVICE&nbsp;</h1>
          <div class="about-description">
            <p>
              <h3><%= image_tag "booking.png", class: "", size: "30" %> Hassle Free booking</h3>  
            </p>
            <br>
            <p>
              <h3><%= image_tag "secure.png", class: "", size: "30" %> Secure Payment </h3>
            </p>
            <br>
            <p>
              <h3> <%= image_tag "feedback.png", class: "", size: "30" %> Constructive feedback mechanism </h3> 
            </p>
            <br>
            <p>
             <h3> <%= image_tag "24hour.png", class: "", size: "30"%> 24*7 Customer Service </h3>
            </p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
        